.webcam-container {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 30px;
    width: 450px;
    height: calc(450px / 16 * 9);
    z-index: 2;
    background: white;
    border: 5px solid lightskyblue;
    border-radius: 10px;
}