#score-type {
  position: absolute;
  z-index: 2;
  font-weight: bold;
  color: white;
  font-size: 60px;
  left: 50%;
  transform: translate(-50%);
  bottom: 100px;
  opacity: 0;
  transition: opacity 1s ease-in-out;

  img {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    bottom: 50px;
    transition: opacity 100ms ease-in-out;
  }
}